/* Default Light Theme */
:root {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
  }
  
  /* Dark Theme */
  :root[theme='dark'] {
    --ion-color-primary: #222428;
    --ion-color-primary-rgb: 34, 36, 40;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
  }